rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access for general search-related files
    match /public/{allPaths=**} {
      allow read;
    }
    
    // Restrict access to profile pictures (only the user can read/write their own)
    match /profilePictures/{userId}/{imageName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
